.contacts {
    padding-top: 9rem;
    &__list, &__item, &__desc {
        margin-bottom: 2rem;
    }
    &__item {
        font-size: 1.8rem;
    }
    &__link {
        font-weight: 500;
    }
}

@media(max-width: 769px) {
    .contacts {
        padding-top: 5rem;
    }
}