.address-link {
    display: flex;
    &::before {
        content: '';
        width: 24px;
        height: 24px;
        background: url('../img/icons/location_blue.svg') center center no-repeat;
        margin-right: 1rem;
    }
}