@media(max-width: 769px) {
    .clinic {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-right: 3rem;
        &__name {
            margin-right: 1.5rem;
        }
    }
}
