.email-link {
    display: flex;
    align-items: center;
    &::before {
        content: '';
        width: 2.4rem;
        height: 2.4rem;
        background: url('../img/icons/mail.svg') center center no-repeat;
        margin-right: 1rem;
    }
}