.stat {
    display: flex;
    &__item {
        flex: 1 1 100px;
        margin-right: 2rem;
        &:last-child {
            margin-right: 0;
        }
    }
    &__num {
        font-size: 4.5rem;
        margin-bottom: 5px;
    }
}

@media (max-width: 480px) {
    .stat {
        flex-direction: column;
    }
}