.top-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid $primary-bg;
    margin-bottom: 2rem;
    // transition: 0.33s ease-in-out;
}

.top-head.hide {
    display: none;
}

@media(min-width: 769px) {
    .top-head {
        width: 100%;
        margin-bottom: 3rem;
        &__phones {
            margin-left: 5%;
            a {
                white-space: nowrap;
            }
        }
    }
}

@media (max-width: 769px) {
    .top-head {
        &__btn {
            position: relative;
            svg {
                width: 2.5rem;
                height: 2.5rem;
                color: $primary-text;
            }
        }

        &__phones {
            top: 5rem;
            right: 3rem;
            padding: 1.5rem;
            a {
                margin-bottom: 1rem;
            }
        }
    }
}
    
