<section class="about  decoration-after">
    <div class="container about__container">
        <div class="about__slider-wrap">
            <div class="about__slider owl-carousel owl-carousel-clinic owl-loaded owl-drag">
                <div class="about__slide">
                    <img src="img/about/dental/1.jpg" alt="Стоматология 32 зуба" class="about__img">
                </div>
                <div class="about__slide">
                    <img src="img/about/dental/2.jpg" alt="Стоматология 32 зуба"class="about__img">
                </div>
                <div class="about__slide">
                    <img src="img/about/dental/3.jpg" alt="Стоматология 32 зуба" class="about__img">
                </div>
                <div class="about__slide">
                    <img src="img/about/dental/4.jpg" alt="Стоматология 32 зуба" class="about__img">
                </div>
                <div class="about__slide">
                    <img src="img/about/dental/5.jpg" alt="Стоматология 32 зуба" class="about__img">
                </div>
            </div>
        </div>
        <div class="about__desc">
            <h2 class="title">
                Современная стоматология 32 зуба</h2>
            <div class="text-accordion">
                <p class="text">
                    А вы знали, что улыбка больше всего влияет на первое впечатление о человеке? Чтобы уверенно улыбаться каждому дню и новому знакомству, позаботьтесь о ваших зубах.
                </p>
                <h3 class="subtitle">О нас:</h3>
                <ul class="list">
                    <li class="list__item">Своевременно вылечить кариес, сделать профессиональную чистку зубов, отреставрировать сколотый край или вставить качественные импланты можно в нашей клинике «Современная стоматология 32 зуба» в Люберцах. Вас в нашей клинике ждут современное оборудование, только качественные материалы и внимательные, опытные специалисты.</li>
                    <li class="list__item">Клиника расположена в самом центре города Люберцы вблизи Октябрьского проспекта, туда легко добираться. И для вашего комфорта работает без выходных с 9.00 до 21.00.</li>
                    <li class="list__item">Мы хотим, чтобы как можно больше людей могли радоваться здоровым зубам, чтобы лечение было доступным. Поэтому в нашей стоматологии низкие цены и бесплатная консультация.</li>
                </ul>
            </div>
            <button class="about__btn btn-link btn-show isMobile"><span>Подробнее</span></button>
            <p class="about__author"><strong>Медицинский руководитель компании, врач Ступин Ф.П.</strong></p>
        </div>
    </div>
</section>