<section class="about">
    <div class="container about__container">
        <div class="about__slider-wrap">
            <div class="about__slider owl-carousel owl-carousel-clinic owl-loaded owl-drag">
                <div class="about__slide">
                    <img src="img/about/1_desc.jpg" alt="" class="about__img">
                </div>
                <div class="about__slide">
                    <img src="img/about/2_desc.jpg" alt="" class="about__img">
                </div>
            </div>
        </div>
        <div class="about__desc">
            <h2 class="title">Добро пожаловать на официальный сайт медицинского центра Леди - центр лечения
                позвоночника и суставов.</h2>
            <div class="text-accordion">
                <p class="text">
                    Система специализированных медицинских центров по лечению и диагностике заболеваний,
                    позвоночника и суставов c хорошо оснащенными, лечебно – реабилитационными учреждениями и
                    квалифицированным персоналом.
                </p>
                <h3 class="subtitle">Комплексные программы:</h3>
                <ul class="list">
                    <li class="list__item">По лечению позвоночника и суставов, диагностике, и профилактике
                        остеохондроза, спондилоартроза, межпозвонковой грыжи диска, миофасциального синдрома,
                        боли в спине, шейном, грудном и поясничном отделе;</li>
                    <li class="list__item">Безоперационному лечению межпозвонковых грыж;</li>
                    <li class="list__item">Лечению сколиоза, суставов;</li>
                </ul>
                <h3 class="subtitle">Основное направление деятельности медицинской компании - Лечение и
                    Диагностика</h3>
                <ul class="list">
                    <li class="list__item">
                        Лечение и диагностика боли в спине, шейном, грудном и поясничном отделе позвоночника и в
                        суставах;
                    </li>
                    <li class="list__item">
                        Лечение дорсалгий и дорсопатий различного происхождения (миофасциального синдрома,
                        спондилоартроза, межпозвонковых грыж) безоперационное лечение межпозвонковых грыж диска;
                    </li>
                    <li class="list__item">Лечение сколиоза и заболевания суставов;</li>
                </ul>
                <div class="text">
                    На сегодняшний день медицинская компания Лечение и Диагностика - это шесть хорошо
                    оснащенных, лечебно – реабилитационных учреждения с квалифицированным персоналом,
                    специализированных на лечение заболеваний позвоночника и суставов;
                </div>
            </div>
            <button class="about__btn btn-link btn-show isMobile">Подробнее</button>
            <p class="about__author"><strong>Медицинский руководитель компании, врач Ступин Ф.П.</strong></p>
        </div>
    </div>
</section>