<section class="head-map">
    <div class="container head-map__container">
        <div class="head-map__text">
            <h1 class="head-map__title title title--h1">Комплексный подход к вашему здоровью</h1>
            <ul class="head-map__stat stat">
                <li class="stat__item">
                    <div class="stat__num">0</div>
                    <div class="stat__label">Сколько выполено</div>
                </li>
                <li class="stat__item">
                    <div class="stat__num">0</div>
                    <div class="stat__label">Сколько выполено операций</div>
                </li>
                <li class="stat__item">
                    <div class="stat__num">0</div>
                    <div class="stat__label">Сколько выполено</div>
                </li>
            </ul>
        </div>
        @@include('./_map.html')
    </div>
</section>