<section class="license">
    <div class="license__container container">
        <h2 class="title license__title">Лицензии</h2>
        <div class="license__slider owl-carousel owl-carousel-license">
            <div class="license__slide">
                <a class="license__link">
                    <img class="license__img preview-link" src="img/license/1.jpg" alt="">
                </a>
            </div>
            <div class="license__slide">
                <a class="license__link">
                    <img class="license__img preview-link" src="img/license/2.jpg" alt="">
                </a>
            </div>
            <div class="license__slide">
                <a class="license__link">
                    <img class="license__img preview-link" src="img/license/3.jpg" alt=""></a>
            </div>
            <div class="license__slide">
                <a class="license__link">
                    <img class="license__img preview-link" src="img/license/4.jpg" alt="">
                </a>
            </div>
            <div class="license__slide">
                <img class="license__img preview-link" src="img/license/5.jpg" alt="">
            </div>
            <div class="license__slide">
                <img class="license__img preview-link" src="img/license/6.jpg" alt="">
            </div>
        </div>
    </div>
</section>