<section class="promotions">
    <div class="promotions__container container">
        <div class="promotions__slider owl-carousel owl-carousel-promotions">
            <div class="promotions__slide">
                <a class="promotions__link">
                    <img class="promotions__img" src="img/promotions/1.png" alt="Массаж">
                </a>
            </div>
            <div class="promotions__slide">
                <a class="promotions__link">
                    <img class="promotions__img" src="img/promotions/2.png" alt="Первичная консультация массажиста">
                </a>
            </div>
            <div class="promotions__slide">
                <a class="promotions__link">
                    <img class="promotions__img" src="img/promotions/3.png" alt="МРТ-исследования"></a>
            </div>
            <div class="promotions__slide">
                <a class="promotions__link">
                    <img class="promotions__img" src="img/promotions/4.png" alt="Комплексная гигиена полости">
                </a>
            </div>
            <div class="promotions__slide">
                <img class="promotions__img" src="img/promotions/5.png" alt="Первичная консультация стоматолога">
            </div>
        </div>
    </div>
</section>