<section class="reviews">
    <div class="reviews__container container">
        <h2 class="title">Отзывы</h2>
        <div class="reviews__wrapper">
            <div class="reviews__slider-wrap">
                <div class="reviews__slider owl-carousel owl-carousel-reviews">
                    <div class="reviews__slide">
                        <div class="reviews__name">Фамилия и Имя</div>
                        <time class="reviews__date">20.02.2022</time>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tenetur
                            obcaecati
                            quae, et fugiat earum officiis voluptatibus velit reiciendis illo.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, veritatis tenetur. Animi
                            eveniet inventore nam unde adipisci pariatur ducimus minus!
                        </p>
                    </div>
                    <div class="reviews__slide">
                        <div class="reviews__name">Фамилия и Имя</div>
                        <time class="reviews__date">20.02.2022</time>
                        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae neque,
                            iure
                            quos ducimus omnis repudiandae.
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, deserunt.
                        </p>
                    </div>
                    <div class="reviews__slide">
                        <div class="reviews__name">Фамилия и Имя</div>
                        <time class="reviews__date">20.02.2022</time>
                        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae neque,
                            iure
                            quos ducimus omnis repudiandae.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, ullam?
                        </p>
                    </div>
                    <div class="reviews__slide">
                        <div class="reviews__name">Фамилия и Имя</div>
                        <time class="reviews__date">20.02.2022</time>
                        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae neque,
                            iure
                            quos ducimus omnis repudiandae.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore exercitationem, ab
                            accusamus voluptatem unde neque.
                        </p>
                    </div>
                </div>
            </div>
            <div class="reviews__form-wrap">
                <h3 class="reviews__subtitle subtitle">Написать отзыв</h3>
                <form action="" class="reviews__form form" autocomplete="off">
                    <input class="reviews__input input" type="text" name="name" aria-label="Имя"
                        placeholder="Имя и Фамилия">
                    <textarea class="reviews__textarea textarea" rows="1" type="text" name="message"
                        aria-label="Коментарий" placeholder="Коментарий"></textarea>
                    <button class="btn btn--primary">Оставить комментарий</button>
                </form>
            </div>
        </div>
    </div>
</section>