<section class="services">
    <div class="services__container container">
        <h2 class="title">Услуги</h2>
        <div class="services__wrapper">
            <div class="services__col">
                <ul class="services__items">
                    <li class="services__item has-subitem">
                        <a href="" class="services__link">
                            Лечение
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Кариес</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Пломба</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Реставрация зубов</a>
                            </li>
                            <li class="services__subitem">
                                <a href="#" class="services__sublink">Каналы</a>
                            </li>
                            <li class="services__subitem">
                                <a href="#" class="services__sublink">Пульпит</a>
                            </li>
                            <li class="services__subitem">
                                <a href="#" class="services__sublink">Воспаления</a>
                            </li>
                            <li class="services__subitem">
                                <a href="#" class="services__sublink">Периодонтит</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="services__col">
                <ul class="services__items">
                    <li class="services__item has-subitem">
                        <a href="" class="services__link">
                            Хирургия
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Удаление зуба</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Зубы мудрости</a>
                            </li>
                        </ul>
                    </li>
                    <li class="services__item has-subitem">
                        <a href="" class="services__link">
                            Пародонтология
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Профессиональная гигиена</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Плазмолифтинг</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Лечение десен</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="services__col">
                <ul class="services__items">
                    <li class="services__item has-subitem">
                        <a href="association.html" class="services__link">
                            Имплантология
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Имплантация</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Протезирование на имплантантах</a>
                            </li>
                        </ul>
                    </li>
                    <li class="services__item has-subitem">
                        <a href="association.html" class="services__link">
                            Протезирование
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Съемное протезирование</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Коронки</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Мосты</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Виниры</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="services__col">
                <ul class="services__items">
                    <li class="services__item has-subitem">
                        <a href="" class="services__link">
                            Диагностика
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Рентген зуба
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Ортопантомограмма</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Компьютерная томография
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">ВНЧС
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="services__item">
                        <a href="" class="services__link">
                            Отбеливание
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>