<section class="services">
    <div class="services__container container">
        <h2 class="title">Услуги</h2>
        <div class="services__wrapper">
            <div class="services__col">
                <ul class="services__items">
                    <li class="services__item has-subitem">
                        <a href="" class="services__link">
                            Массаж
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Классический</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Сегментарный</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Рефлекторный</a>
                            </li>
                            <li class="services__subitem">
                                <a href="#" class="services__sublink">Точечный</a>
                            </li>
                            <li class="services__subitem">
                                <a href="#" class="services__sublink">Баночный</a>
                            </li>
                            <li class="services__subitem">
                                <a href="#" class="services__sublink">Медовый</a>
                            </li>
                            <li class="services__subitem">
                                <a href="#" class="services__sublink">Пневмомассаж (лимфодренаж)</a>
                            </li>
                        </ul>
                    </li>
                    <li class="services__item has-subitem">
                        <a href="" class="services__link">
                            Физиотерапия
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Магнитотерапия</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Лазеротерапия</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Ультразвуковая терапия</a>
                            </li>
                            <li class="services__subitem">
                                <a href="#" class="services__sublink">Ударноволновая терапия</a>
                            </li>
                            <li class="services__subitem">
                                <a href="#" class="services__sublink">Электротерапия</a>
                            </li>
                        </ul>
                    </li>
                    <li class="services__item has-subitem">
                        <a href="" class="services__link">
                            Реабилитация
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Лечебная физкультура</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Физическая реабилитация</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="services__col">
                <ul class="services__items">
                    <li class="services__item has-subitem">
                        <a href="" class="services__link">
                            Рефлексотерапия
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Корпоральная</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Аурикулярная</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Краниорефлексотерапия</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Микроиглорефлексотерапия</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Аппликационная</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Поверхностная (кожная)</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Прижигание полынной сигарой</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Электрорефлексотерапия</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Звуковая</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Микроволновая резонансная</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Электроиглорефлексотерапия</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Микроэлектрофорез</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Магниторефлексотерапия</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Инъекционная (лекарственная)</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Мезотерапия</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="services__col">
                <ul class="services__items">
                    <li class="services__item has-subitem">
                        <a href="" class="services__link">
                            Мануальная терапия
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Обследование при заболеваниях позвоночника
                                    и суставов
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Определения статических деформаций</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Определения объемов движения и границ
                                    подвижности суставов
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Mанипуляции на позвоночно-двигательных
                                    сегментах позвоночника
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Постизометрическая релаксация мышц</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Висцеральные, лимфатические,
                                    краниосакральные техники</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Релаксационные технологии</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Новокаиновые и лекарственные блокады</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Спинальные, суставные и мягкотканые пункции
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Подбор лечебных воротников</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Подбор фиксирующих корсетов и поясов
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Вытяжение на гравитационных кушетках и
                                    матрацах
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Профилактическая биодинамическая
                                    коррекция</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="services__col">
                <ul class="services__items">
                    <li class="services__item has-subitem">
                        <a href="" class="services__link">
                            Неврология
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Ультразвуковое обследование позвоночника
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Сканирование экстракраниальных и
                                    интракраниальных сосудов
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Сканирование сосудов головного мозга
                                    (интракраниальное)
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="#" class="services__sublink">Сканирование экстракраниальных отделов</a>
                            </li>
                        </ul>
                    </li>
                    <li class="services__item has-subitem">
                        <a href="" class="services__link">
                            Ревматология
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Лабораторное обследование</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Физическая реабилитация</a>
                            </li>
                        </ul>
                    </li>
                    <li class="services__item has-subitem">
                        <a href="" class="services__link">
                            Эндокринология
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Лабораторное обследование</a>
                            </li>
                        </ul>
                    </li>
                    <li class="services__item has-subitem">
                        <a href="" class="services__link">
                            Сестринское дело
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Инъекция подкожная
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Инъекция внутримышечная
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Инъекция внутривенная
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="#" class="services__sublink">Внутривенное вливание (капельное)</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="services__col">
                <ul class="services__items">
                    <li class="services__item has-subitem">
                        <a href="" class="services__link">
                            Косметология
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Пластическая хирургия</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Инъекционная косметология</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Контурная пластика</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Биоревитализация</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Эстетическая косметология</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Химические пилинги</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Косметические уходы</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Косметическая чиcтка</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Косметический массаж</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Лечение угревой сыпи</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Депиляция</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Электроэпиляция</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="services__col">
                <ul class="services__items">
                    <li class="services__item has-subitem">
                        <a href="" class="services__link">
                            Травмотология и ортопедия
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Определение минеральной плотности костей
                                    (ультразвуковой скрининг)
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Ультразвуковое обследование суставов</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Ультразвуковое обследование мягких тканей
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Дуплексное (триплексное) сканирование
                                    артерий нижних конечностей
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Дуплексное (триплексное) сканирование вен
                                    нижних конечностей</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Подоскопия</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="services__col">
                <ul class="services__items">
                    <li class="services__item has-subitem">
                        <a href="" class="services__link">
                            Метод М.И. Фомина
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Снижение активности радикалов на аппарате
                                    "Анотрон"
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Активация метаболизма на аппарате "МКР"</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Восстановление эластичности и тренировка
                                    сосудов в вазореактивной камере "Бароциклон"
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Восстановление нормы покоя и движения
                                    опорно-двигательного на вибротренажерном комплексе (виброкорректор,
                                    лимфомассажер, тканевый массажер, стол свободной тракции)
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="services__col">
                <ul class="services__items">
                    <li class="services__item has-subitem">
                        <a href="" class="services__link">
                            Традиционная медицина
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Рефлексодиагностика «АМСАТ-КОВЕРТ»
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="services__item has-subitem">
                        <a href="" class="services__link">
                            Диагностические программы
                            <span class="services__arrow isMobile"></span>
                        </a>
                        <ul class="services__subitems">
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Магнитно-резонансная томография
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Ультразвуковое исследование</a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Денситометрия
                                </a>
                            </li>
                            <li class="services__subitem">
                                <a href="" class="services__sublink">Анализы
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>